body {
    background: #fff;
    color: 000;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.container {
    margin: 1em 5em;
    text-align: center;
    opacity: 1;
}
.card {
    padding: 10px 35px;
    background: #fff;
    border-radius: 0;
    border: 3px solid #eeee;
    margin: 1rem;
    color: #000;
    text-shadow: 0 0 10px #000;
    width: 250px;
    height: 250px;
    font-family: monospace;
    font-size: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
}
code {
    font-size: 10px;
    display: block;
    text-align: left;
    margin: 0 1rem;
}
code:hover {
    cursor: pointer;
}
.player {
    float: left;
}
.machine {
    float: right;
}
.all {
    display: inline-block;
}
h1 {
    padding: 20px;
    color: #7ae379;
    margin: auto;
    width: 400px;
    border-radius: 5px;
    border: 1px solid white;
}
.stuff h2 {
    margin: 10px;
}
h2 {
    color: #398572;
    display: inline-block;
    margin: 2rem;
}
h3 {
    display: block;
}
h4 {
    margin: auto;
}
.rounds {
    display: inline-block;
    margin: 5rem;
    width: 200px;
}
span {
    color: #99aab5;
    display: block;
}
button {
    padding: 10px 25px;
    text-align: center;
    color: #fff;
    margin-top: 24px;
    padding: 20px;
    border: none;
    font-size: 16px;
    background: #7ae379;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid white;
    transition: .2s ease-in-out;
}

button:hover {
    background: #398572;
    
}

p {
    margin: auto;
}

.actual-round {
    font-family: monospace;
}

.card-input {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #398572;
    padding: 1rem;
    display: none;
}

.card-input input {
    outline: 0;
    border: 1px solid #eeee;
    padding: 1rem;
}
.card-input input:focus {
    border: 1px solid #398572;
}

.card-input button {
    border-radius: 0;
    padding: 1rem;
    margin: 0;
}